<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Liste des Tournois{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    <head>
    <body>
        {% block body %}
        <style>
            body {
                background-color: #ffffff;
                color: #000000;
                font-family: Arial, sans-serif;
                margin: 0;
                padding: 20px;
            }

            .tournament-wrapper {
                background-color: #f9f9f9;
                border: 1px solid #ddd;
                border-radius: 8px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                margin: 10px 0;
                padding: 20px;
                transition: box-shadow 0.3s;
            }

            .tournament-wrapper:hover {
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            }

            .tournament-title {
                font-size: 24px;
                margin: 0 0 10px;
            }

            .view-button {
                background-color: #000000;
                color: #ffffff;
                border: none;
                border-radius: 5px;
                padding: 10px 15px;
                cursor: pointer;
                text-decoration: none;
                font-size: 16px;
            }

            .view-button:hover {
                background-color: #444444;
            }

            .tournament-date {
                font-size: 18px; /* Taille réduite */
                color: #888888; /* Couleur grisée */
                margin-top: 5px; /* Un petit espace entre le titre et la date */
            }
        </style>

        {% include 'header.html.twig' %}
        <div class="example-wrapper">
            <h1>Liste des Tournois 🏆</h1>

            <ul>
                {% for tournament in tournaments %}
                    <div class="tournament-wrapper">
                        <h2 class="tournament-title">{{ tournament.name }}</h2>
                        <h4 class="tournament-date">{{ tournament.getDateStart()|date('d/m/Y') }}</h4>
                        <a href="{{ path('app_tournament_view', { 'id': tournament.id }) }}" class="view-button">view</a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('app_tournament_edit', { 'id': tournament.id }) }}" class="view-button">edit</a>
                        {% endif %}
                    </div>
                {% else %}
                    <div>Aucun tournoi disponible.</div>
                {% endfor %}
            </ul>
        </div>
        {% endblock %}
    <body>
</html>