{% block body %}
    {% include 'header.html.twig' %}
    
    <div class="tournament-details">
        <h1>{{ tournament.name }}</h1>
        <p><strong>Date:</strong> {{ tournament.getDateStart() | date('Y-m-d') }}</p>
        <p><strong>Max Teams:</strong> {{ tournament.getNbMaxTeam() }}</p>

        <h3>Huitième de Finale</h3>
        {% for match in phases['Huitième de finale'] %}
           {{ match.idTeam1.getName() }} ({{ match.getScoreTeam1() }}) - ({{ match.getScoreTeam2() }}) {{ match.idTeam2.getName() }}
        {% endfor %}

        <h3>Quart de Finale</h3>
        {% for match in phases['Quart de finale'] %}
            {{ match.idTeam1.getName() }} ({{ match.getScoreTeam1() }}) - ({{ match.getScoreTeam2() }}) {{ match.idTeam2.getName() }}
        {% endfor %}

        <h3>Demi-Finale</h3>
        {% for match in phases['Demi-final'] %}
            {{ match.idTeam1.getName() }} ({{ match.getScoreTeam1() }}) - ({{ match.getScoreTeam2() }}) {{ match.idTeam2.getName() }}
        {% endfor %}

        <h3>Finale</h3>
        {% for match in phases['Final'] %}
            {{ match.idTeam1.getName() }} ({{ match.getScoreTeam1() }}) - ({{ match.getScoreTeam2() }}) {{ match.idTeam2.getName() }}
        {% endfor %}

        <a href="{{ path('app_display') }}" class="btn btn-primary">Retour aux Tournois</a>
    </div>
{% endblock %}

